:root { --primary: #1DB954;
    --secondary: #a6eca8;
    --tertiary: #d2fdbb;
    --black: #000;
    --white: #fff;
    --border-primary: #c0c0c0;
    --border-secondary: #98985b;
}


* {
    color: var(--black);
}

body {
    background-color: var(--primary);
}

h1 {
    color: var(--white);
    font-style:initial;
    font-size: 40px;
}

.hero {
    background-image: url("../images/sound-wave-technology-cheering-c.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    
}

.hero-body {
    margin-top: 50px;
    height: auto;
}

.hero-body p b {
    color: var(--white);
    text-decoration: ;
}



label {
    margin-top: 110px;
    font-size: 24px;
    color: var(--white);
    margin-bottom: 3px;
}
input[type=text] {
    border: 2px solid var(--border-primary);
    background-color: var(--tertiary);
}

.button {
    border: 2px solid var(--border-primary);
    background-color: var(--tertiary);
}

main .card {
    margin-top: 3px;
    margin-left: 80px;
    
}

.submit {
    background-color: var(--secondary);
    color: var(--black);
}

.shows {
    margin-left: 120px;
    margin: auto;
}

main .is-two-quarters img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

main .is-two-quarters .subtitle {
    text-align: center;
}
